.content {
  width: 50%;

  &__title {
    text-align: left;
    @include PTS(bold);
    color: #ffffff;
    font-size: rem(60px);
    text-transform: uppercase;
    line-height: rem(55px);
  }

  &__subtitle {
    @include nautilius_pompilius;
    color: $titleColor;
    font-size: rem(53px);
    text-transform: lowercase;
  }
}
