.header {
  width: 100%;
  padding-top: 38px;
  color: #ffffff;
  @include tablets {
    padding-top: 0;
  }

  &__line {
    height: 32px;
    background-color: $mainColor;
    @include tablets {
      height: 50px;
    }
  }

  &__wrapper {
    max-width: 1330px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    @include tablets {
      justify-content: space-between;
      align-items: center;
    }
  }
}
