.info {
  display: flex;
  justify-content: space-between;
  padding: 0 rem(90px) rem(25px);

  &__social {
    display: flex;
    align-items: center;
  }

  &__item {
    margin-right: rem(15px);

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    color: #ffffff;
    font-size: rem(45px);

    &:hover {
      color: $titleColor;
    }
  }

  &__booklet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;

    &:hover .info__icon {
      color: $titleColor;
    }

    &:hover .info__icon-text {
      color: $titleColor;
    }
  }

  &__icon {
    color: #ffffff;
    font-size: rem(70px);
  }

  &__icon-text {
    font-size: rem(11px);
    @include PTS(bold);
    text-transform: uppercase;
  }
}
