.nav {
  width: 100%;
  @include tablets {
    display: none;
  }

  &__list {
    height: 100%;
    padding-left: rem(170px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
  }

  &__item {
    @include tablets {
      //transform: translateX(-999px);
    }
  }

  &__link {
    @include PTS(bold);
    font-size: rem(16px);
    color: #ffffff;

    @include tablets {
      font-size: rem(24px);
    }

    &:hover {
      color: $titleColor;
      transition: color 300ms ease;
    }
  }

  &_active {
    display: block;
    margin-bottom: 5%;

    & .nav__list {
      flex-direction: column;
      justify-content: center;
      padding-left: 0;
    }

    & .nav__item {
      margin-bottom: rem(15px);


      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

