.about {
  height: auto;
  //todo: фон картинка с артефактами!! переделать под не битую или about1.jpg так-же можно затенить фон или сделать тени букв
  background: url("../images/about-bg.jpg") no-repeat top center / cover;

  @include phones {
    padding: 0;
  }

  &__wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 4% 0;
    background: rgba(0, 0, 0, .5);
  }

  &__title {
    margin-bottom: rem(25px);
    padding: 0 rem(110px);
    @include PTS(bold);
    color: #ffffff;
    text-transform: uppercase;
    font-size: rem(60px);
    line-height: rem(45px);

    @include smallPhones {
      padding: 0 rem(10px);
    }

    & span {
      text-transform: lowercase;
      @include nautilius_pompilius;
      color: $secondTitleColor;
      font-size: rem(36px);
    }
  }

  &__content {
    width: 50%;
    padding: 0 rem(110px);
    color: #ffffff;
    @include PTS(bold);
    font-size: rem(18px);

    @include phones {
      width: 100%;
      padding: 0 rem(55px);
    }

    @include  smallPhones {
      padding: 0 rem(10px);
    }
  }

  &__paragraph {
    margin-bottom: rem(15px);

    &:last-child {
      margin-bottom: 0;
    }

    &_bold {
      font-size: rem(24px);
    }
  }

  &__list {
    margin-bottom: rem(15px);
  }
}
