.franchise {
  background: url("../images/hands.png") no-repeat left bottom 4% / 100% 60%,
          url("../images/category_bg.jpg") no-repeat center / cover;
  color: $mainColor;

  @include tablets {
    background: url("../images/category_bg.jpg") no-repeat center / cover;
    height: auto;
  }

  &__wrapper {
    max-width: 1500px;
    margin: 0 auto;
    padding: rem(25px) rem(110px);

    @include phones {
      padding: rem(25px) rem(30px);
    }

    @include phones {
      padding: rem(25px) 10%;
    }
  }

  &__title {
    @include PTS(bold);
    font-size: rem(60px);
    margin-bottom: rem(20px);
  }

  &__content {
    max-width: 900px;
    margin: 0 auto;
  }

  &__content-title {
    @include nautilius_pompilius;
    font-size: rem(30px);
    margin-bottom: rem(15px);
  }

  &__container {
    display: flex;
    flex-direction: row;
    @include PTS(bold);
    font-size: rem(18px);

    @include smallPhones {
      flex-direction: column;
      align-items: center;
    }
  }

  &__column-left {
    width: 45%;
    margin-right: 10%;

    @include smallPhones {
      margin-right: 0;
      width: 100%;
      margin-bottom: rem(25px);
    }
  }

  &__column-right {
    width: 45%;

    @include smallPhones {
      width: 100%;
    }
  }

  &__item {
    margin-bottom: rem(5px);

    &:first-child {
      margin-top: rem(10px);
    }
  }
}
//todo: что-то нужно сделать с фоном текста или тенями, чтобы было видно. так же параллакс и анимацию
