.footer {
  width: 100%;
  background-color: $mainColor;

  &__wrapper {
    max-width: 1500px;
    margin: 0 auto;
    padding: rem(30px) rem(110px) rem(25px);
    display: flex;
    justify-content: space-between;

    @include desktop {
      padding: rem(30px) rem(30px) rem(25px);
    }

    @include tablets {
      padding: rem(30px) 0 rem(25px);
    }

    @include phones {
      flex-direction: column-reverse;
      justify-content: stretch;
      align-items: center;
    }
  }

  &__menu {
    width: 30%;
    font-size: 0;

    @include phones {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: rem(15px);
    }
  }

  &__logo-container {
    width: rem(150px);
    margin-right: rem(30px);
    display: inline-block;
    vertical-align: top;

    @include tablets {
      width: rem(120px);
      margin: 0 auto;
    }

    @include phones {
      width: 250px;
      margin: 0 0 rem(10px);
    }
  }

  &__logo {
    width: 100%;
  }

  &__list {
    display: inline-block;
    vertical-align: top;

    @include phones {
      text-align: center;
    }
  }

  &__item {
    margin-bottom: 8px;
    font-size: 0;

    @include phones {
      margin-bottom: rem(10px);
    }

    &:last-child {
      margin-bottom: 0;
    }

    &:hover .footer__link{
      color: $titleColor;
      transition: color 300ms ease;
    }
  }

  &__link {
    display: inline-block;
    width: 100%;
    text-transform: uppercase;
    text-decoration: none;
    font-size: rem(11px);
    color: #ffffff;
    @include PTS(bold);

    @include phones {
      font-size: rem(16px);
    }
  }

  &__contacts {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    @include PTS(bold);

    @include desktop {
      flex-direction: column-reverse;
      align-content: center;
    }

    @include tablets {
      flex-direction: column;
      align-items: center;
    }

    @include phones {
      margin-bottom: rem(5px);
    }
  }

  &__contacts-link {
    text-decoration: none;
    color: #ffffff;
    font-size: rem(20px);
    text-transform: uppercase;
    transition: color 300ms ease;

    @include desktop {
      font-size: rem(18px);
    }

    @include tablets {
      font-size: rem(16px);
    }

    @include phones {
      margin-bottom: rem(10px);
    }

    &:last-child {
      @include phones {
        margin-bottom: 0;
      }
    }

    &:hover {
      color: $titleColor;
    }
  }

  &__address {
    color: #ffffff;
    font-size: rem(20px);
    text-transform: uppercase;

    @include desktop {
      font-size: rem(18px);
    }

    @include tablets {
      font-size: rem(16px);
    }

    @include phones {
      text-align: center;
      font-size: rem(14px);
    }
  }

  &__booklet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;

    @include tablets {
      margin-right: rem(5px);
    }

    @include phones {
      margin-bottom: rem(15px);
    }

    &:hover .footer__icon {
      color: $titleColor;
      transition: color 300ms ease;
    }

    &:hover .footer__icon-text {
      color: $titleColor;
      transition: color 300ms ease;
    }
  }

  &__icon {
    color: #ffffff;
    font-size: rem(70px);

    @include tablets {
      font-size: rem(60px);
    }
  }

  &__icon-text {
    font-size: rem(11px);
    @include PTS(bold);
    text-transform: uppercase;
  }
}
