.footer {
  width: 100%;
  background-color: $mainColor;

  &__wrapper {
    max-width: 1500px;
    margin: 0 auto;
    padding: rem(30px) rem(110px) rem(25px);
    display: flex;
    justify-content: space-between;
  }

  &__menu {
    width: 30%;
    font-size: 0;
  }

  &__logo-container {
    width: rem(170px);
    margin-right: rem(50px);
    display: inline-block;
    vertical-align: top;
  }

  &__logo {
    width: 100%;
  }

  &__list {
    display: inline-block;
    vertical-align: top;
  }

  &__item {
    margin-bottom: 8px;
    font-size: 0;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover .footer__link{
      color: $titleColor;
      transition: color 300ms ease;
    }
  }

  &__link {
    display: inline-block;
    width: 100%;
    text-transform: uppercase;
    text-decoration: none;
    font-size: rem(11px);
    color: #ffffff;
    @include PTS(bold);
  }

  &__contacts {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    @include PTS(bold);
  }

  &__contacts-link {
    text-decoration: none;
    color: #ffffff;
    font-size: rem(20px);
    text-transform: uppercase;
    transition: color 300ms ease;

    &:hover {
      color: $titleColor;
    }
  }

  &__address {
    color: #ffffff;
    font-size: rem(20px);
    text-transform: uppercase;
  }

  &__booklet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;

    &:hover .footer__icon {
      color: $titleColor;
      transition: color 300ms ease;
    }

    &:hover .footer__icon-text {
      color: $titleColor;
      transition: color 300ms ease;
    }
  }

  &__icon {
    color: #ffffff;
    font-size: rem(70px);
  }

  &__icon-text {
    font-size: rem(11px);
    @include PTS(bold);
    text-transform: uppercase;
  }
}
