.category {
    background: url("../images/category_bg.jpg") no-repeat center/cover;

  @include phones {
    height: auto;
    min-height: 100vh;
  }

  &__title {
    max-width: 1500px;
    height: 10%;
    padding-left: rem(110px);
    margin: 0 auto;
    padding-bottom: rem(25px);
    @include PTS(bold);
    color: $mainColor;
    font-size: rem(60px);

    @include tablets {
      padding: 0 0 rem(10px);
      text-align: center;
    }
  }

  &__wrapper {
    margin: 0 auto;
    max-width: 1500px;
    height: 90%;
    padding: rem(15px) rem(110px) 5%;

    @include tablets {
      padding: rem(15px) rem(10px) 5%;;
    }
  }

  //todo: в первую очередь переделать категории, чтобы они могли добавляться!!!!
  //номер категории соответсвует порядковой букве алфавита)
  &__list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__item {
    padding: 5px;
    width: 33%;

    @include phones {
      width: 50%;
      min-height: rem(150px);
    }
  }

  &__link {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;

    &:after {
      content: '';
      display: block;
      width: 0;
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, .6);
    }

    //анимация элемнтов при наведении
    &:hover:after {
      width: 100%;
      opacity: 1;
      transition: opacity 300ms ease-in-out;
    }

    &:hover .category__text {
      color: $titleColor;
      transition: color 300ms ease-in-out;
    }

    &:hover .category__img {
      width: 130%;
      height: 130%;
      transition: all 300ms ease-in-out;
    }
  }

  &__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
  }

  &__text {
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: rem(25px);
    left: 50%;
    transform: translateX(-50%);
    @include PTS(bold);
    font-size: rem(36px);
    color: #ffffff;
    line-height: rem(26px);
    z-index: 10;

    @include smallPhones {
      font-size: rem(24px);
    }
  }
}
