@font-face {
  font-family: 'bravoSC';
  src: url('../fonts/bravosc-webfont.woff2') format('woff2'),
  url('../fonts/bravosc-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'nautilus_pompilius';
  src: url('../fonts/8343-webfont.woff2') format('woff2'),
  url('../fonts/8343-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTS';
  src: url('../fonts/pt_sans-web-bold-webfont.woff2') format('woff2'),
  url('../fonts/pt_sans-web-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'PTS';
  src: url('../fonts/pt_sans-web-italic-webfont.woff2') format('woff2'),
  url('../fonts/pt_sans-web-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'PTS';
  src: url('../fonts/pt_sans-web-regular-webfont.woff2') format('woff2'),
  url('../fonts/pt_sans-web-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
