.contact-info {
  margin-bottom: rem(30px);

  &__title {
    margin-bottom: rem(10px);
    @include PTS(bold);
    text-transform: uppercase;
    font-size: rem(36px);
  }

  &__container {
    display: flex;
    align-items: flex-end;
  }

  &__container-icon {
    width: 50px;
    height: 60px;
    margin-right: rem(5px);
    margin-bottom: rem(5px);
  }

  &__icon {
    width: 100%;
    height: 100%;
  }

  &__item {
    margin-bottom: rem(10px);

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    text-decoration: none;
    color: $mainColor;
    @include PTS(bold);
    font-size: rem(16px);
    text-transform: uppercase;
  }
}
